/*responsive*/

@media (max-width: 700px){

  .container {
    max-width: 700px; /* 最大横幅 */
    width: 100%;
    margin: 0 auto;
  }
/*header*/
  .header-list li {
    font-size: 12px
  }

  h1 {
    font-size: 14px;
  }
/*survice*/
  .survices-wrapper {
    height: 1500px;
    text-align: center;
  }

  .survice {
    float:none;
    clear:left;
    width: 80%;
  }
/*news*/
  .news-frame {
    width: 100%;
  }

/*company*/
  .company-wrapper:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background:url(img/background-image3.jpg)center no-repeat;
    background-size:cover;
  }

/*contact*/
  .contact-wrapper:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100vh;
    background:url((img/background-image2.png)center no-repeat;
    background-size:cover;
  }

  .contact-form{
    display: inline-block;
    width: 100%;
  }

  .submit {
    width: 90%;
  }

}


@media (max-width: 500px) {

  .container {
    max-width: 500px; /* 最大横幅 */
    width: 90%;
    margin: 0 auto;
  }

  h1 {
    font-size: 11px;
  }

/*header*/
  .header-list {
    display: none;
  }

  #my-parts-icon {
    cursor: pointer;
    display: inline-block;
    height: 50px;
    position: relative;
    width: 50px;
  }

  #my-parts-icon span {
    background:  #333;
    border-radius: 4px;
    display: block;
    height: 16%;
    left: 50%;
    margin: -8% 0 0 -42%;
    position: absolute;
    top: 50%;
    transition: all 0.3s ease-in-out;
    width: 84%;
  }

  #my-parts-icon span::before,
  #my-parts-icon span::after {
    -webkit-transform: rotate(0);
    background: #333;
    border-radius: 4px;
    content: "";
    display: block;
    height: 100%;
    left: 50%;
    margin: -8% 0 0 -50%;
    position: absolute;
    top: 50%;
    transform: rotate(0);
    transition: all 0.3s ease-in-out;
    width: 100%;
  }

  #my-parts-icon span::before {
    margin-top: -38%;
  }

  #my-parts-icon span::after {
    margin-top: 19%;
  }

  #my-parts-checkbox:checked ~ #my-parts-icon span {
    background: rgba(51, 51, 51, 0);
  }

  #my-parts-checkbox:checked ~ #my-parts-icon span::before,
  #my-parts-checkbox:checked ~ #my-parts-icon span::after {
    content: "";
    display: block;
    height: 100%;
    left: 50%;
    margin: -8% 0 0 -42%;
    position: absolute;
    top: 50%;
    width: 100%;
  }

  #my-parts-checkbox:checked ~ #my-parts-icon span::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  #my-parts-checkbox:checked ~ #my-parts-icon span::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }

/*survice*/
  .survices-wrapper {
    height: 1450px;
    text-align: center;
  }

  .survice {
    float: none;
    clear:left;
    width: 90%;
    height: 350px;
  }

/*news*/
  .news-frame {
    width: 100%;
  }

/*company*/
.company-wrapper:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background:url(img/background-image3.jpg)center no-repeat;
  background-size:cover;
}

/*contact*/
  .contact-wrapper:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100vh;
    background:url((img/background-image2.png)center no-repeat;
    background-size:cover;
  }

  .contact-form{
    display: inline-block;
    width: 100%;
  }

  .submit {
    width: 90%;
  }

}
