/*responsive*/

@media (max-width: 890px){

  .container {
    max-width: 890px; /* 最大横幅 */
    margin: 0 auto;
    overflow: hidden;
  }
/*header*/
  .header-list li {
    font-size: 12px
  }

  .top-wrapper h1 {
    font-size: 45px;
  }

  .menu-icon {
    display:inline-block;
    float: right;
    font-size: 25px;
    padding: 20px 0;
  }

/*about*/

  .about-wrapper {
    height: 400px;
  }

/*survice*/
  .survices-wrapper {
    height: 1300px;

  }

  .survices{
    max-width: 90%;
  }

  .survice {
    float: none;
    clear: left;
    width: 100%;
    height: 300px;
    padding: 5px;
    margin: 10px 0 20px 0;
  }

/*news*/

/*company*/
  .company-wrapper:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background:url(img/background-image3.jpg)center no-repeat;
    background-size:cover;
  }

/*contact*/
  .contact-wrapper:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100vh;
    background:url((img/background-image2.png)center no-repeat;
    background-size:cover;
  }

  .contact-form{
    display: inline-block;
    width: 100%;
  }

  .submit {
    width: 90%;
  }

}

/*==========================================*/

@media (max-width: 500px) {

  .container {
    max-width: 500px; /* 最大横幅 */
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }

  .top-wrapper {
    height: 300px;
  }

  .top-wrapper h1 {
    font-size: 40px;
  }

  .top-wrapper h2 {
    font-size: 20px;
  }

/*header*/
  .header-list {
    display: none;
  }

  .header-right span {
    display: block;
  }

  .menu-icon {
    float: right;
    font-size: 35px;
    padding: 15px 0;
  }
/*about*/



/*survice*/


/*news*/
  .news-wrapper {
    height: 600px;
  }

  .news {
    display: block;
    width: 90%;
    margin: 10px 5px 60px 5px;
  }


/*company*/
  .company-wrapper {
    height: 850px;
  }

  .company-wrapper:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background:url(img/background-image3.jpg)center no-repeat;
    background-size:cover;
  }

/*contact*/
  .contact-wrapper:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100vh;
    background:url((img/background-image2.png)center no-repeat;
    background-size:cover;
  }

  .contact-form{
    display: inline-block;
    width: 100%;
  }

  .submit {
    width: 90%;
  }

}
